@model  MedicalInstitutuinModelForPagination
@using MedAssistant

@{
    ViewData["Title"] = "Medical institutions";
}

<div>
    <h1>All Medecines</h1>
     
   <a class="btn btn-primary" asp-area="" asp-controller="MedicalInstitution" asp-action="AddMedicalInstitution">Add medical institution</a>
     
     @foreach(var n in Model.MedicalInstitutionModels)
     { 
            <div style= "border:solid 1px " class ="vaccination-preview">

                <div >  
                    <label asp-for="@n.Name">Medical institution name</label> <br/>
                    <label asp-for = "@n.Name" >@n.Name</label>
                </div>

                <div>
                 <label asp-for="@n.Location">Location of medical institution</label> <br/>
                 <label asp-for = "@n.Location" >@n.Location</label>
                </div> 
                
                <div>
                    <a href ="@n.InfoUrl" style="text-decoration:none">More about medical institution</a> 
                </div>
             
                
                <a class="btn btn-primary" asp-area="" asp-controller="MedicalInstitution" asp-action="UpdateMedicalInstitution" asp-route-id = "@n.Id">Update medical institution</a>
                <a class="btn btn-primary" asp-area="" asp-controller="MedicalInstitution" asp-action="RemoveMedicalInstitution" asp-route-id = "@n.Id">Remove medical institution</a>
           </div> 
       
     }     
    
      
           <div class="pagingDiv" page-model="@Model.PagingInfo" page-action="MedicalInstitutionView" page-classes-enabled="true" page-class="paging" page-class-selected="active"> </div> 
 </div>

 
   
    