@model DoctorModel

@{
    ViewData["Title"] = "Remove Doctor";
}

<div>
    <h1>Remove Doctor</h1>

      <form asp-controller="Doctor" asp-action="RemoveDoctor" method="post">
         
        <div style= "border:solid 1px " class ="vaccination-preview">
            <div >
                <input asp-for = "@Model.Id" type="hidden"/>
            </div>
            <div >
                <label asp-for="@Model.FullName" >FullName</label> <br/>
                <label asp-for = "@Model.FullName" >@Model.FullName</label>
            </div>

            <div>
                 <label asp-for="@Model.PhoneNumber">PhoneNumber</label> <br/>
                <label asp-for="@Model.PhoneNumber">@Model.PhoneNumber</label>
            </div>
          
            <div >
                <label asp-for="@Model.DoctorType">DoctorType</label> <br/>
                <label asp-for="@Model.DoctorType" >@Model.DoctorType </label>
            </div>

             <div >
                <label asp-for="@Model.MedicalInstitutionName" >MedicalInstitutionName</label> <br/>
                <label asp-for="@Model.MedicalInstitutionName" >@Model.MedicalInstitutionName</label>
            </div>
         
            </div>

            <input type="submit" class="btn btn-primary" value="Submit">

    </form>

 @section Scripts
 {
    <script src = "~/js/dom.js" asp-append-version = "true"></script>
 }
 
</div>