@model   List<PrescriptionModel>

@{
    ViewData["Title"] = "Prescription";
}

<div>
    <h1>All Prescription</h1>

     @foreach(var n in Model)
     {
        <div style= "border:solid 1px " class ="vaccination-preview">
            <div >
                
                <label asp-for="@n.Dosage" >Prescription Dosage</label> <br/>
                <label asp-for = "@n.Dosage" >@n.Dosage</label>
            </div>

            <div>
                 <label asp-for="@n.Bought">Bought</label> <br/>
                <input asp-for="@n.Bought" type="checkbox"  value = "@n.Bought"/>
            </div> 

             <div >
                <label asp-for="@n.MedicineName" >Medicine Name</label> <br/>
                <label asp-for="@n.MedicineName" >@n.MedicineName</label>
            </div>

             <div >
                <label asp-for="@n.MedicineType" >Medicine Type</label> <br/>
                <label asp-for="@n.MedicineType" >@n.MedicineType</label>
            </div>
        
            <a class="btn btn-primary" asp-area="" asp-controller="Prescription" asp-action="AddPrescription">AddNewPrescription</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Prescription" asp-action="EditPrescription" asp-route-id = "@n.Id">EditPrescription</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Prescription" asp-action="RemovePrescription" asp-route-id = "@n.Id">RemovePrescription</a>
       </div>
        
     }   

 
 
</div>